.container {
    display: flex;
    margin: 0;
    padding: 0;
}
.liObj{
    width: 200px;
    height: 300px;
    border: 1px solid #000;
    margin: 10px;
    text-align: center;
}
p {
    padding: 0;
}